*.iml
.idea/
*.class
dependency-reduced-pom.xml
input-light.csv
/input.csv
/input2.csv

data/
/target/

.classpath
.settings/
.project

src/main/resources/io/github/isuru/oasis/db/.vscode/

/configs/auth/private.der
/configs/auth/public.der

*.mv.db

logs.log

node_modules/

