
html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  color: #739CAE;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

input {
  color: #1E2B34;
  font-size: 14px;
  line-height: 2;
  outline: none;
}
